/* <<< top bar >>>*/
/* Container Utama Navbar */
.navbar-floating {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); /* Biar persis di tengah horizontal */
  z-index: 1000;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  
  border: #fff 3px;
  padding: 8px 12px 8px 24px;
  background: rgba(255, 255, 255, 0.205); /* Warna putih agak transparan */
  backdrop-filter: blur(15px); /* Efek blur kaca di belakangnya */
  border-radius: 999px; /* Bikin bentuk kapsul melengkung mulus */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); /* Bayangan tipis */
}

.setting-hp {
  background-color: #191f30;
  padding: 10px 24px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s;
  color: #fff;
  text-decoration: none;
}
.brand-name {
  font-size: 16px;
  color: #2c2c2c;
}

/* Nav Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #000;
}
/* Tombol Login (Kapsul Hitam) */
.btn-pesan {
  background-color: #191f30;
  color: #fff;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s;
}
.setting-hp:hover {
  background-color: #4a4c53;
}
.btn-pesan:hover {
  background-color: #4a4c53;
}
/* hp */
@media (max-width: 768px) {
  .navbar-floating {
    top: 12px;
    width: max-content; /* Bikin lebar navbar 90% dari layar HP */
    max-width: 75%;
    justify-content: space-between;
    padding: 8px 12px 8px 16px; /* Padding lebih tipis */
    gap: 16px;
  }
 .setting-hp {
   padding: 6px 16px;
   font-size: 12px;
 }
 .brand-name {
    font-size: 16px;
    color: #000000;
  }
  /* Sembunyikan menu teks biasa biar gak memenuhi layar HP */
  .nav-links {
    display: none; 
  }

  /* Penyesuaian ukuran teks logo & tombol login */
  .logo {
    font-size: 14px;
  }

  .btn-pesan {
    padding: 6px 16px;
    font-size: 12px;
  }
}


