*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img, video {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333333;
}

       
body {
            background-image: url('img/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

/* <<< GAMBAR JUDUL >>> */

.tulis1 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.tulis1 img { 
  width: 450px;
  height: auto;
}
.tulis2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.tulis2 img { 
  width: 250px;
  height: auto;
  margin-top: 50px;
}

/* <<< TOMBOL1 >>> */

.tombol {
  display: flex;
  justify-content: center;
}
.start-tombol {
  background: transparent:
  border: none:
  padding: 0:
  cursor: pointer;
  outline: none;
}
.start-tombol img {
  width: 100px;
  height: auto;
  display: block;
}

/* <<< BANNER >>> */
.banner-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 600px;
  height: 280px;
  background-color: #9e9e9e;
  border-radius: 30px;
  border-color: black;
   margin-top: 30px;
}

