*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333333;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Efek blur langsung ke gambar */
    z-index: -1;
    transform: scale(1.1); /* Biar pinggiran blurnya ga keliatan putih bocor */
}
