*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img, video {
  max-width: 100%;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333333;
}

       
body {
            background-image: url('img/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

.tombol {
 display: flex;
  justify-content: center;
}
.start-tombol {
  background: transparent:
  border: none:
  padding: 0:
  cursor: pointer;
  outline: none;
}

.start-tombol img {
  width: 150px;
  height: auto;
  display: block;
}
.start-tombol: hover {
  transform: scale(1.10);
  transition: transform 0.25s;
}
.start-tombol: active {
  transform: scale(0.90);
}
